.kitchenCtn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.kitchenWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.kitchenImgWrapper{
    width: 33%;
}

.kitchenImg{
    width: 100%;
    object-fit: cover;
}

.kitchenTitle{
    font-size: 25px;
}

.kitchenAddress{
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.kitchenDistance{
    color: blue;
    font-weight: 500px;
}

.kitchenImages{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.planWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.planTitle{
    text-align: center;
}

.callWrapper{
    position: absolute;
    top: 10px;
    right: 0;
}

.callBtn{
    margin-left: 5px;
    padding: 5px;
    color: white;
}

